.navigation{
    
    height: 80px;
    width: 1000px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
}
.HeadTitle{
    float: inline-start;
    margin-left: 35px;
}
.navigation_links
{
    float: inline-end;
    margin-top: 30px;
    margin-right: 20px;
}
.HeadTitle > h1{
    font-size: 50px;
    margin-top: 5px;
    height: 0px;
}
.navigation_links>a{
    margin-right: 50px;
    font-size: x-large;
    color: black;
    text-decoration: none;
}
img{
    width : 50px;
    height: 50px; 
    
}
.Left{
    color: #9c0000;
}
.Right{
    font-size: 40px;
    color: #1a3d1a;

}
